.article {
	padding: 2rem 0;

	h1 {
		@include breakpoint (medium only) {
			font-size: 3rem;
		}
	}

	p, li {
		@include breakpoint (medium only) {
			font-size: rem-calc(18);
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (small only) {
			font-size: rem-calc(16);
			padding-left: 1rem;
			padding-right:1rem;
		}
	}
	p, h2, h3, h4, ul {
		max-width: 35rem;
		margin-left: auto;
		margin-right: auto;
		@include breakpoint (small only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (medium only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
	}

	.article-box {
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $light-gray;
	}

	strong {
		background-color: $green;
	}

	img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		padding: rem-calc(10);
		border: 1px solid $light-gray;
		border-radius: $global-radius;
	}

	.caption {
		font-style: italic;
		font-size: rem-calc(16);
		margin-top: 0;
		text-align: center;
	}

	blockquote {
		margin-left: auto;
		margin-right: auto;
		font-style: italic;
		p {
			max-width: 32rem;
		}
	}

	iframe {
		margin-bottom: 1rem;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}