.article {
	padding: 2rem 0;
	background-color: $white;
	a {
		border-bottom: 1px solid $anchor-color;
		&:hover {
			border-color: $white;
		}
	}
	h1 {
		@include breakpoint (medium only) {
			font-size: 3rem;
		}
	}
	h2, h3 {
		border-top: 3px double $smoke;
		border-bottom: 3px double $smoke;
		padding: 10px 0;
		text-align: center;
	}

	.post {
		h2, h3 {
			border: none;
			text-align: left;
		}
		h2 {
			margin-top: 2rem;
		}
		a {
			font-weight: $global-weight-bold;
		}
	}
	h3 {
		text-align: center;
	}

	p, li {
		@include breakpoint (medium only) {
			font-size: rem-calc(18);
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (small only) {
			font-size: rem-calc(16);
			padding-left: 1rem;
			padding-right:1rem;
		}
	}
	p, h2, h3, h4, ul, ol {
		@include breakpoint (small only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (medium only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
	}

	h2, h3 {
		line-height: 1;
	}

	.article-box {
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $light-gray;
	}

	strong {
		background-color: $yellow;
	}

	.articles-list {
		max-width: 100%;
		li {
			float: left;
			margin-bottom: 2rem;
			@include breakpoint(large) {
				width: 19%;
				margin-right: 1%;
			}
		}
		a span {
			font-size: rem-calc(24);
			font-weight: $global-weight-bold;
		}
	}

	.article-box {
		
		border: 1px solid $medium-gray;
		background-color: $white;
		height: 320px;
		padding: rem-calc(10);
		margin-bottom: 1rem;
		@include breakpoint(medium) {
			padding: 1rem;
			height: 375px;
			margin-bottom: 2rem;
		}
		img {
			max-width: 36px;
			max-height: 36px;
			border-radius: 1000px;
			margin-bottom: 10px;
		}
		&:hover {
			border-color: $blue;
		}
		h3 {
			font-size: 1rem;
			border-bottom: 3px double $smoke;
			padding-bottom: rem-calc(10);
			margin-top: 0;
			text-align: left;
		}
		h3 a {
			border-bottom: none;
			&:hover {
				color: $oil;
			}
		}
		p {
			font-size: rem-calc(16);
		}
	}

	div.image {
		text-align: center;
		margin-bottom: 1rem;
		img {
			padding: rem-calc(10);
			border: 1px solid $light-gray;
			border-radius: $global-radius;
		}
	}

	div.video {
		text-align: center;
		margin-bottom: 1rem;
		embed, iframe {
			
		}
	}

	.caption {
		font-style: italic;
		font-size: rem-calc(16);
		margin-top: 0;
		text-align: center;
	}

	blockquote {
		max-width: 35rem;
		border-width: 3px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		font-style: italic;
		padding-bottom: 1px;
	}
	.pull-quote {
		border: 3px double $light-gray;
		padding: 1rem 1rem 0;
	}
	.pull-quote p {
		font-size: rem-calc(24);
		text-align: center;
	}

	iframe {
		margin-bottom: 1rem;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.guerrillawrap {
		.guerrillatext p {
			max-width: 35rem;
		}
	}

	.sidebar {
		padding: 0 1rem 1rem;
		border-left: 1px solid $smoke;
		h2, h3, h4 {
			margin-bottom: rem-calc(10);
		}
		h3 {
			color: $slate;
			padding: 10px 0;
			font-size: rem-calc(28);
			text-align: center;
			border-top: 3px double $smoke;
			border-bottom: 3px double $smoke;
		}
		p {
			font-size: rem-calc(16);
		}
		img {
			border: 1px solid $smoke;
			padding: 5px;
			margin-bottom: 0;
		}
	}
	.nolink a {
			border-bottom: none;
			text-decoration: none;
		}
	.callout {
		background-color: $smoke;
		.button {
			border: 2px solid $white;
			text-decoration: none;
		}
	}
}
.library {
	background-color: $smoke;
	h3 {
		text-align: left;
	}
}
.slate {
	background-color: $slate;
	padding: 1rem 0 2rem;
	h2 {
		border: none;
		color: $white;
		em {
			color: $yellow;
		}
	}
	.callout {
		max-width: 38rem;
		margin-left: auto;
		margin-right: auto;
		li {
			margin-left: 1rem;
		}
	}
	.articles-list a {
		border: none;
	}
	.articles-list img {
		border: 5px solid $white;
		&:hover {
			border-color: $yellow;
		}
	}
}