.article {
	padding: 2rem 0;
	background-color: $white;
	a {
		border-bottom: 1px solid $anchor-color;
		&:hover {
			border-color: $white;
		}
	}
	h1 {
		@include breakpoint (medium only) {
			font-size: 3rem;
		}
	}

	p, li {
		@include breakpoint (medium only) {
			font-size: rem-calc(18);
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (small only) {
			font-size: rem-calc(16);
			padding-left: 1rem;
			padding-right:1rem;
		}
	}
	p, h2, h3, h4, ul, ol {
		max-width: 35rem;
		margin-left: auto;
		margin-right: auto;
		@include breakpoint (small only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
		@include breakpoint (medium only) {
			padding-left: 1rem;
			padding-right:1rem;
		}
	}

	h2, h3 {
		line-height: 1.2;
		margin-top: 2.5rem;
		text-align: center;
	}

	.article-box {
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $light-gray;
	}

	strong {
		background-color: $yellow;
	}

	.articles-list {
		max-width: 100%;
		li {
			float: left;
			margin-bottom: 2rem;
			@include breakpoint(large) {
				width: 19%;
				margin-right: 1%;
			}
		}
		a span {
			font-size: rem-calc(24);
			font-weight: $global-weight-bold;
		}
	}

	div.image {
		text-align: center;
		margin-bottom: 1rem;
		img {
			padding: rem-calc(10);
			border: 1px solid $light-gray;
			border-radius: $global-radius;
		}
	}

	div.video {
		text-align: center;
		margin-bottom: 1rem;
		embed, iframe {
			
		}
	}

	.caption {
		font-style: italic;
		font-size: rem-calc(16);
		margin-top: 0;
		text-align: center;
	}

	blockquote {
		max-width: 35rem;
		border-width: 3px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		font-style: italic;
		padding-bottom: 1px;
	}
	.pull-quote {
		border: 3px double $light-gray;
		padding: 1rem 1rem 0;
	}
	.pull-quote p {
		font-size: rem-calc(24);
		text-align: center;
	}

	iframe {
		margin-bottom: 1rem;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.guerrillawrap {
		.guerrillatext p {
			max-width: 35rem;
		}
	}
}

.slate {
	background-color: $slate;
	padding: 1rem 0 2rem;
	h2 {
		color: $white;
		font-style: italic;
		font-family: $body-font-family;
		em {
			color: $yellow;
		}
	}
	.articles-list a {
		border: none;
	}
	.articles-list img {
		border: 5px solid $white;
		&:hover {
			border-color: $yellow;
		}
	}
}