.comments {
	padding: 2rem 1rem;
	background-color: $smoke;
	color: $white;
	h2 {
		color: $slate;
		font-style: italic;
		font-family: $body-font-family;
	}
	.comment-box {
		padding: 2rem;
		background-color: $white;
	}
}