.content {
	padding: 1rem 0;
	.articles-list {
		max-width: 100%;
		li {
			float: left;
			margin-bottom: 2rem;
			@include breakpoint(large) {
				width: 19%;
				margin-right: 1%;
			}
		}
		a span {
			font-size: rem-calc(24);
			font-weight: $global-weight-bold;
		}
	}
}