footer {
	padding: 2rem 0 1rem;
	a {
		color: $red;
		border-bottom: 1px solid $red;
		font-weight: $global-weight-bold;
		&:hover {
			color: $oil;
			border-color: $oil;
		}
	}
	text-align: center;
}