.title {
	padding: 4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-width: 3px;
	border-style: solid;
	border-color: $white;
}
.muscles {
	h3 {
		color: $slate;
	}
	.group {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;
	}
	.chest {
		@extend .group;
	}
	.shoulders {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.biceps {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.triceps {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.legs {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.abs {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.back {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
	.arms {
		padding: 1rem;
		margin: 2rem;
		border-width: 3px;
		border-style: solid;
		border-color: $pink;
		background-color: $white;

	}
}