.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.title-bar {
	font-family: $body-font-sans-serif;
}
.top-bar {
	li a {
		font-family: $body-font-sans-serif;
		font-weight: $global-weight-bold;
		color: $red;
		&:hover {
			color: $oil;
		}
	}

	li.logo a {
		padding: 0;
	}

	.menu-text {
		padding-left: 0;
	}

	.menu-text a {
		padding: rem-calc(7) rem-calc(10) rem-calc(5);
		font-size: rem-calc(32);
		background-color: $red;
		color: $white;
		&:hover {
			color: $white;
			background-color: $green;
		}
	}

	img {
		max-width: rem-calc(54);
		max-height: rem-calc(54);
		background-color: $green;
		padding: rem-calc(5) rem-calc(10);
		transition: 0.2s linear all;
		&:hover {
			background-color: $red;
		}
	}
}