.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.title-bar {
	font-family: $body-font-sans-serif;
}
.top-bar {
	ul {
		background-color: transparent;
	}
	li a {
		font-family: $body-font-sans-serif;
		font-weight: $global-weight-bold;
		color: $slate;
		text-transform: uppercase;
		font-size: rem-calc(16);
		&:hover {
			color: $pink;
		}
	}

	li.logo a {
		padding: 0;
	}

	.menu-text {
		padding-left: 0;
	}

	.menu-text a {
		text-transform: none;
		padding: rem-calc(7) rem-calc(10) rem-calc(5);
		font-size: rem-calc(32);
		border: 3px double $blue;
		color: $blue;
		background-color: $white;
		&:hover {
			color: $blue;
			background-color: $smoke;
		}
	}

	img {
		max-width: rem-calc(54);
		max-height: rem-calc(54);
		background-color: $blue;
		padding: rem-calc(5) rem-calc(10);
		transition: 0.2s linear all;
		&:hover {
			background-color: $red;
		}
	}
	.top-bar-right {
		margin-top: 10px;
	}
	form .input-group {
		margin-bottom: 0;
	}
	form input.button {
		height: 40px;
		padding: rem-calc(10);
	}
}