.profiles {
	padding: 2rem 0;
	background-color: $green;
	h2 {
		color: $white;
	}
	
	.profile {
		border: 1px solid $light-gray;
		padding: 10px;
		background-color: $white;
		@include breakpoint(medium down) {
			margin-bottom: 2rem;
			h3 {
				font-size: 1.5rem;
			}
		}
		.profile-hero {
			margin-bottom: 1rem;
		}
		p {
			font-size: rem-calc(16);
		}
	}
	.callout {
		border-width: 5px;
		border-color: darken($green, 10%);
	}
}