.search {
	background-color: $smoke;
	padding: 1rem 0;
	form .input-group {
		margin-bottom: 0;
	}
	form .button {
		height: 40px;
		padding: rem-calc(10);
	}
	form [type='text'] {
		margin-bottom: 0;
	}
}