.sections {
	padding: 2rem 0 1rem;
	h2 {
		@include breakpoint (medium only) {
			font-size: 1.5rem;
		}
		@include breakpoint(small only) {
			font-size: 1.25rem;
		}
	}
	.section-box {
		background-color: $green;
		padding: 3rem 1rem 2rem;
		a {
			background-color: $white;
			padding: rem-calc(7) rem-calc(10) rem-calc(5);
			color: $red;
			&:hover {
				color: $oil;
			}
		}
		margin-bottom: 1rem;
	}
}